.header {  
    display: inline-flex;
    justify-content:space-between;  
    }

.logo{
    width:45px;
    height: 45px;
    border-radius: 40ch;  
    margin: 10px 20px;
}



.headerMenu 
{
    display: inline-flex; 
    margin: 15px 8px;
    color: whitesmoke;
    font-size: 80%;
   
}

.headerMenu :hover{
    color: lightgreen;

}
